.product-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  color: var(--navy);
  border: solid 1px var(--green);
}

.product-image {
  height: 200px;
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 10px;
  box-sizing: border-box;
}

.product-image img {
  height: 100%;
  width: auto;
}

.add-to-cart-button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--navy);
  color: var(--white);
  font-size: 16px;
  margin-top: 5%;
}

.product-price {
  font-size: 16px;
  margin: 2%;
}

.product-name {
  font-size: 18px;
  margin: 3%;
}
